<footer class="page-footer font-small bg-secondary pt-4">

    <ul class="ch-grid">
        <li>
            <!--outros tipoos de cards
                
            <div class="ch-item ch-img-1">
                <div class="ch-info">
                    <h3>Use what you have</h3>
                    <p>by Angela Duncan <a href="http://drbl.in/eOPF">View on Dribbble</a></p>
                </div>
            </div>
        </li>
        <li>
            <div class="ch-item ch-img-2">
                <div class="ch-info">
                    <h3>Common Causes of Stains</h3>
                    <p>by Antonio F. Mondragon <a href="http://drbl.in/eKMi">View on Dribbble</a></p>
                </div>
            </div>
        </li>
        <li>
            <div class="ch-item ch-img-3">
                <div class="ch-info">
                    <h3>Pink Lightning</h3>
                    <p>by Charlie Wagers <a href="http://drbl.in/ekhp">View on Dribbble</a></p>
                </div>
            </div>-->

            <!-- botoes 2
            <div class="flex-container">
                <div class="imgs img-1">
                  <div class="infos info-1">
                    <h3>title</h3>
                    <p>description<br><a href="https://unsplash.com/@daryan" target="_blank">background by Daryan Shamkhali</a></p>
                  </div>
                </div>
                <div class="imgs img-2">
                  <div class="infos info-2">
                    <h3>title</h3>
                    <p>description<br><a href="https://unsplash.com/@jjying" target="_blank">background by JJ Ying</a></p>
                  </div>
                </div>
                <div class="imgs img-3">
                  <div class="wrap-3">
                    <div class="infos info-3">
                      <div class="info-3-front"></div>
                      <div class="info-3-back">
                        <h3>title</h3>
                        <p>description<br><a href="https://unsplash.com/@scottrodgerson" target="_blank">background by Scott Rodgerson</a></p> 
                       </div>
                      </div>
                     </div>
                    </div>
                <div class="imgs img-4">
                  <div class="wrap-4">
                    <div class="infos info-4">
                      <div class="info-4-front"></div>
                      <div class="info-4-back">
                        <h3>title</h3>
                        <p>description<br><a href="https://unsplash.com/@tonywebster" target="_blank">background by Tony Webster</a></p> 
                       </div>
                      </div>
                     </div>
                    </div>
              </div> -->
              
              <div class="container">
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center">
                        <h4 class="text-white">Siga nos nas redes sociais</h4>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center">
                        <div class="container d-flex justify-content-center ">
                            <ul class="social-network">
                                <li>
                                    <a href="https://github.com/RobertoLocatelli02" target="_blank ">
                                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="linkedin.com/in/roberto-locatelli-9305b0211/" target="_blank ">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/robertolocateli/" target="_blank ">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </li>
    </ul>

    
    
    

    <div class="footer-copyrigth bg-dark text-center py-3">
        <span class="text-light"> © 2021 Copyright: </span>
        <a class="text-light" target="_blank" href="http://facebook.com">brasil.generation.org</a>

    </div>

</footer>
